<div class="inventory-item" id="inventory_item_<%= inventory_item.id %>">
  <strong><%= inventory_item.name %>:</strong>
  <span class="quantity"><%= inventory_item.quantity %></span>
  <p><strong>Location:</strong> <%= inventory_item.location %></p>
</div>
